---
layout: default
title: Home
---

{% for post in paginator.posts %}
  <article class="row">
      <div class="small-12 medium-3 large-2 columns datetime">
          <span class="index-post-meta">
              <time datetime="{{ post.date | date_to_xmlschema }}">
                  <span class="day">
                      {{ post.date | date: "%d" }}
                  </span>
                  <span class="month-year">
                      {{ post.date | date: "%b %Y" }}
                  </span>
              </time>
          </span>
      </div>
      <div class="small-12 medium-9 large-10 columns">
          <header>
              <h3>
                  <a href="{{ site.url }}{{ post.url }}">
                      {{ post.title }}
                  </a>
              </h3>
          </header>
          <section class="post-info tooltip">
              {% assign page = post %} <!-- so eta works here too -->
              <span class="link" data-title="{{ post.content | strip_html | number_of_words | append: " words"}}">
               {% include estimated_read_time.html %}
              </span>
          </section>  
          <section class="index-post-excerpt">
            <p>{{ post.content | strip_html | truncatewords:50 }}</p>
            <!-- <p>{{ post.excerpt }}</p> -->
          </section> 
          <a href="{{ site.url }}/{{ post.url }}">
            Continue reading »
          </a> 
      </div>
  </article>
  <br/>
<!-- {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %} -->
{% endfor %}

<nav class="pagination" role="navigation">
{% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="newer-posts" href="{{ site.url }}"><i class="fa fa-chevron-left"></i> Newer</a>
    {% else %}
      <a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}"><i class="fa fa-chevron-left"></i> Newer</a>
    {% endif %}
{% else %}
  <span class="newer-posts faded"><i class="fa fa-chevron-left"></i> Newer</span>
{% endif %}
  
 <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %} 
      <a class="older-posts" href="{{ site.url }}/page{{ paginator.next_page }}/">Older <i class="fa fa-chevron-right"></i></a>
    {% else %}
      <span class="older-posts faded">Older <i class="fa fa-chevron-right"></i></span>
    {% endif %}
</nav>
