<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/poole.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/lanyon.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/expander.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/hover.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/resume.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/scroll_to_top.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/foundation.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/sitemap.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/toc.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
  <script type="text/javascript" src="{{ "/assets/js/expander.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/scroll_to_top.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/toc.js" | relative_url }}"></script>

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | relative_url }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111523332-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111523332-1');
  </script>
</head>
